<header class="header">
    <div class="header__wrapper">
        <div class="header__pic header__pic--active">
            <img class="header__image js-header__image" src="./assets/img/about-pic-1.jpg" alt="title-picture">
            <img class="header__image js-header__image header__image--active" src="./assets/img/about-pic-2.jpg" alt="title-picture">
            <img class="header__image js-header__image" src="./assets/img/about-pic-3.jpg" alt="title-picture">
            <img class="header__image js-header__image" src="./assets/img/about-pic-4.jpg" alt="title-picture">
        </div>
        <div class="header__descript descript">
            <div class="descript__container js-descript__container">
                <h2 class="descript__header">Elegance</h1>
                <p class="descript__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur posuere accumsan venenatis. Maecenas mauris
                        lacus, efficitur ultricies pretium nec, cursus ut risus. Nullam felis augue, varius eget luctus in, finibus
                        non enim. Nunc molestie felis risus, vitae volutpat magna lobortis ac.</p>
                <p class="descript__paragraph">Nullam molestie vestibulum tortor, sed vulputate nisl commodo eget. Fusce et euismod orci. Sed imperdiet
                        lectus nunc, efficitur lobortis orci sollicitudin et. </p>
                <a href="javascript:void(0)" class="descript__link link">
                    <span class="link__text">read more</span>
                    <div class="arrow-animated"></div>
                </a>
            </div>
            <div class="descript__container js-descript__container descript__container--active">
                <h2 class="descript__header">Creation</h1>
                    <p class="descript__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur posuere accumsan venenatis. Maecenas mauris lacus,
                        efficitur ultricies pretium nec, cursus ut risus. Nullam felis augue, varius eget luctus in, finibus non enim.
                        Nunc molestie felis risus, vitae volutpat magna lobortis ac.</p>
                    <p class="descript__paragraph">Nullam molestie vestibulum tortor, sed vulputate nisl commodo eget. Fusce et euismod orci. Sed imperdiet lectus nunc,
                        efficitur lobortis orci sollicitudin et. </p>
                    <a href="javascript:void(0)" class="descript__link link">
                        <span class="link__text">read more</span>
                        <div class="arrow-animated"></div>
                    </a>
            </div>
            <div class="descript__container js-descript__container">
                <h2 class="descript__header">Family Office</h1>
                    <p class="descript__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur posuere accumsan venenatis. Maecenas mauris lacus,
                        efficitur ultricies pretium nec, cursus ut risus. Nullam felis augue, varius eget luctus in, finibus non enim.
                        Nunc molestie felis risus, vitae volutpat magna lobortis ac.</p>
                    <p class="descript__paragraph">Nullam molestie vestibulum tortor, sed vulputate nisl commodo eget. Fusce et euismod orci. Sed imperdiet lectus nunc,
                        efficitur lobortis orci sollicitudin et. </p>
                    <a href="javascript:void(0)" class="descript__link link">
                        <span class="link__text">read more</span>
                        <div class="arrow-animated"></div>
                    </a>
            </div>
            <div class="descript__container js-descript__container">
                <h2 class="descript__header">Experience</h1>
                    <p class="descript__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur posuere accumsan venenatis. Maecenas mauris lacus,
                        efficitur ultricies pretium nec, cursus ut risus. Nullam felis augue, varius eget luctus in, finibus non enim.
                        Nunc molestie felis risus, vitae volutpat magna lobortis ac.</p>
                    <p class="descript__paragraph">Nullam molestie vestibulum tortor, sed vulputate nisl commodo eget. Fusce et euismod orci. Sed imperdiet lectus nunc,
                        efficitur lobortis orci sollicitudin et. </p>
                    <a href="javascript:void(0)" class="descript__link link">
                        <span class="link__text">read more</span>
                        <div class="arrow-animated"></div>
                    </a>
            </div>
        </div>
    </div>
    <nav class="header__nav">
        <ul class="nav__menu">
            <li class="nav__item ">
                <a href="javascript:void(0)" class="nav__link js-nav__link">elegance</a>
            </li>
            <li class="nav__item ">
                <a href="javascript:void(0)" class="nav__link js-nav__link nav__link--active">creation</a>
            </li>
            <li class="nav__item ">
                <a href="javascript:void(0)" class="nav__link js-nav__link">family office</a>
            </li>
            <li class="nav__item ">
                <a href="javascript:void(0)" class="nav__link js-nav__link">experience</a>
            </li>
        </ul>
    </nav>
</header>