// Colors

$bgcolor :                  #F8F9FA;
$bgcolor_active :           #F3F3F5;
$color_white :              #ffffff;
$color_black :              #000000;
$color_arrows :             #292B2C;



// Fonts

$primary_font: 'Roboto', sans-serif;
$secondary_font: 'Playfair Display', serif;


$time: 0.3s;
$time_left-tab: 3s;
$time_right-tab: 4s;
$time_arrow-animation: 1.7s;
