.offers {
    display: flex;
    flex-direction: column;
    margin: 100px 0;
    padding-left: 200px;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 200px;
        padding: 20px 5px;
        border-bottom: 1px solid #E4E6E8;
    }
}

.top {
     &__header {
         margin-bottom: 0;
     }
}

.gallery {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    &__item {
        display: block;
        margin-right: 25px;  
        width: 445px;
        overflow: hidden;
    }
    &__container {
        &:hover img {
            transform: scale(1.1);
        }
    }
    &__pic {
        object-fit: fill;
        width: 100%;
        height: 445px;
        
    }
    &__spec {
        padding: 30px 25px;
    }
}

.spec {
    line-height: 3;
    &__header {
        font: {
            family: 'Roboto', sans-serif;
            size: 18px;
            weight: 400;
        }
        color: #2B2A36;
    }
    &__text {
        font: {
            family: 'Roboto', sans-serif;
            size: 16px;
            weight: 100;
        }
        
        color: #869099;
    }
}