.offers {
    display: flex;
    flex-direction: column;
    margin: 100px 0;
    padding-left: 200px;
    overflow: hidden;

    @include tablet_pro {
        margin: 50px 0;
        padding: 50px;
    }

    @include tablet {
        margin: 20px 0;
        padding: 30px 10px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 200px;
        padding: 20px 5px;
        border-bottom: 1px solid #E4E6E8;

        @include tablet_pro {
            margin-right: 0px;
        }

        @include tablet {
            margin-right: 0px;
            padding: 10px 15px;
        }
    }
    
    &__header {
        font: {
            family: $secondary_font;
            size: 34px;
        }
        margin-bottom: 30px;
    }

    &__link {
        display: flex;
        align-items: center;
        font: {
             family: $primary_font;
             size: 10px;
             weight: 600;
        }
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #48474E;
    }
}

.top {
     &__header {
         margin-bottom: 0;
     }
}

.gallery {
    margin-top: 30px;
    margin-right: -15%;
    display: flex;
    justify-content: space-between;

    @include tablet {
        margin: 10px 5px;
    }
    
    &__item {
        margin-right: 25px; 
        height: 550px;
        width: 400px;

        @include tablet {
           margin-right: 0;
        }
    }

    &__pic {
        height: 100%;
        width: 100%;
        transition: all 1.5s $ease;

        @include tablet_pro {
           object-fit: cover;
        }
    }

    &__container {
        margin: auto;
        height: 400px;
        overflow: hidden;
        border-radius: 2%;
        transition: all 1s $ease;

        &:hover {
            border-radius: 10%;
            transform: scale(0.9);
            cursor: pointer;

            @include tablet_pro {
                transform: scale(1);
                border-radius: inherit;
            }

            @include tablet {
                transform: scale(1);
                border-radius: inherit;
            }
        }

        &:hover img {
            transform: scale(1.5);

            @include tablet_pro {
                transform: scale(1);
            }

            @include tablet {
                transform: scale(1);
            }
        }
    }

    &__spec {
        padding: 30px 25px;
    }
}

.spec {
    line-height: 3;

    &__header {
        font: {
            family: $primary_font;
            size: 18px;
            weight: 400;
        }
        color: #2B2A36;
        &:hover {
            text-decoration: underline;
        }
    }
    
    &__text {
        font: {
            family: $primary_font;
            size: 16px;
            weight: 100;
        } 
        color: #869099;
    }
}

// arrow animation

.arrow-animated {
    height: 5px;
    width: 5px;
    border: 15px solid transparent;
    transform: rotate(-45deg);
    position: relative;

    &:before {
        content: "";
        display: block;
        height: inherit;
        width: inherit;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 1px solid $color_arrows;
        border-right: 1px solid $color_arrows;
        top: 0;
        left: 0;
        opacity: 1;
        animation: bottom-arrow $time_arrow-animation infinite;
        top: 0;
        left: 0;
        border-bottom: 1px solid $color_arrows;
        border-right: 1px solid $color_arrows;
        animation: top-arrow $time_arrow-animation infinite;
    }

    &:after {
        content: "";
        display: block;
        height: inherit;
        width: inherit;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 1px solid $color_arrows;
        border-right: 1px solid $color_arrows;
        top: 0;
        left: 0;
        opacity: 1;
        animation: bottom-arrow $time_arrow-animation infinite;
    }
}

@keyframes bottom-arrow {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    45% {
        opacity: 0;
        transform: translate(12px, 12px);
    }
    46% {
        opacity: 0;
        transform: translate(-16px, -16px);
    }
    90% {
        opacity: 1;
        transform: translate(-6px, -6px);
    }
    100% {
        opacity: 1;
        transform: translate(-6px, -6px);
    }
}

@keyframes top-arrow {
    0% {
        transform: translate(-6px, -6px);
    }
    35% {
        transform: translate(0, 0);
    }
    90% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}